[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
statsmodels = "*"
seaborn = "*"
plotly = "*"
matplotlib = "*"
scikit-learn = "*"
rpy2 = "*"

[dev-packages]
jupyterlab = "*"
jupyter = "*"
jupyterlab-code-formatter = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"
